{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

<h2>{{=message}} </h2>

<div class="well">
Die Afropa Datenbank wird &uuml;ber diese Oberfl&auml;che administriert, bearbeitet und genutzt. Um die meisten Daten zu
sehen, muss man eingeloggt sein. Einen Zugang (Account) bekommt man beim Administrator. Bitte immer daran denken, dass es
sich um sensible, pers&ouml;nliche Daten handelt - d.h. bitte niemals z.B. ein Endger&auml;t unbeobachtet in eingeloggtem
Zustand zur&uuml;cklassen.
</div>

<h3>Die Datenbank</h3>
<div class="well">
<p>
Der Zugriff auf die Datenbanken erfolgt &uuml;ber  {{=A('diesen Link', _href=URL(c='asyl', f='index'))}}. Es 
&ouml;ffnet sich eine Index-Seite. Die Administrations- und Entwicklungswerkzeuge k&ouml;nnen ignoriert werden 
(und werden bald verschwinden). Wenn man die Datenbank &ouml;ffnet, so erscheinen zun&auml;chst die Stammdaten
aller Kunden. Neben diesen Stammdaten sind Links zu weiteren Daten, die dieser Person zugeordnet sind.
Alle Daten k&ouml;nnen einzeln bearbeitet werden.
</p>
</div>

<h3>Einstellung der Sprache</h3>
<div class="well">
<p>
Die Einstellung der verwendeten Sprache kann &uuml;ber das Hauptmenue oder &uuml;ber 
{{=A('diesen Link', _href=URL(f='my_language'))}} ausgew&auml;hlt werden. Sollten noch &Uuml;bersetzungen fehlen bzw.
 es Verbesserungsvorschl&auml;ge gibt, bitte an den Administrator wenden.
</p>
</div>


<h3>Das Wiki</h3>
<div class="well">
<p>
Die Basisversion eines Wikis ist ebenfalls implementiert und &uuml;ber das Hauptmenue oder 
{{=A('diesen Link',_href=URL(a='Asylum',c='default',f='wiki', args=['index']))}} erreichbar. Diese Funktionalit&auml;t muss noch weiter
ausgebaut werden, sollte mittelfristig ein Wiki gew&uuml;nscht sein.
</p>
</div>



{{block right_sidebar}}
<div class="panel panel-info">
  <div class="panel-heading"><h3 class="panel-title"><a class="btn-block"
      href="{{=URL('admin','default','index')}}">
      <i class="glyphicon glyphicon-cog"></i>
      {{=T("administration")}}
    </a></h3></div>
  
</div>
{{end}}
