{{extend 'layout.html'}}
{{"""
Some Info
"""}}
<h2>{{=' '.join(x.capitalize() for x in request.function.split('_'))}}</h2>
{{=form}}

<!-- show more info for development -->
{{=BR()*3}}
{{if request.is_local:}}
{{=response.toolbar()}}
{{pass}}

<script type="text/javascript">
 $(document).ready(function() {
 // if export class exist then append it inside search form
   if($('.w2p_export_menu').length > 0) {
     var export_link = $('.w2p_export_menu a').clone();
	 //rename button to Export to CSV
	 export_link.text('Export to CSV');
	 $(export_link).appendTo('.web2py_console form')
     // remove web2py_export_menu
     $('.w2p_export_menu').remove();
 }
 });
</script>
